<main class="form-container">
  <h2 style="text-align: center;">Histórico de Dados da Saúde</h2>
<div class="filtros">
  <button [class.ativo]="filtroSelecionado === 'hoje'" (click)="filtroSelecionado = 'hoje'; aplicarFiltro()">Hoje</button>
  <button [class.ativo]="filtroSelecionado === 'semana'" (click)="filtroSelecionado = 'semana'; aplicarFiltro()">Semana</button>
  <button [class.ativo]="filtroSelecionado === 'mes'" (click)="filtroSelecionado = 'mes'; aplicarFiltro()">Mês</button>
  <button [class.ativo]="filtroSelecionado === 'ano'" (click)="filtroSelecionado = 'ano'; aplicarFiltro()">Ano</button>
</div>

  <table class="tabela" *ngIf="historico && historico.length > 0">
    <thead>
      <tr>
        <th>Data</th>
        <th>Pressão</th>
        <th>Frequência</th>
        <th>Temperatura</th>
        <th>Saturação</th>
        <th>Peso</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of historico">
        <td>{{ item.dataColeta | date: 'dd/MM/yyyy' }}</td>
        <td>{{ item.pressaoArterial }}</td>
        <td>{{ item.frequenciaCardiaca }}</td>
        <td>{{ item.temperaturaCorporal }}</td>
        <td>{{ item.saturacaoOxigenio }}</td>
        <td>{{ item.peso }}</td>
      </tr>
    </tbody>
  </table>

  <div class="acoes">
    <button (click)="exportarCSV()">Exportar CSV</button>
  </div>
</main>