<main class="form-container">
  <h2>Registrar Dados de Saúde</h2>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    
    <div class="form-group">
      <label for="pressaoArterial">Pressão Arterial</label>
      <input type="text" id="pressaoArterial" name="pressaoArterial" placeholder="Ex: 120/80" required ngModel />
      <small *ngIf="form.submitted && !form.controls['pressaoArterial']?.valid">Informe a pressão arterial.</small>
    </div>

    <div class="form-group">
      <label for="frequenciaCardicacao">Frequência Cardíaca (bpm)</label>
      <input type="number" id="frequenciaCardicacao" name="frequenciaCardicacao" placeholder="Ex: 72" required ngModel />
      <small *ngIf="form.submitted && !form.controls['frequenciaCardicacao']?.valid">Informe a frequência cardíaca.</small>
    </div>

    <div class="form-group">
      <label for="temperaturaCorporal">Temperatura (°C)</label>
      <input type="number" step="0.1" id="temperaturaCorporal" name="temperaturaCorporal" required ngModel />
      <small *ngIf="form.submitted && !form.controls['temperaturaCorporal']?.valid">Informe a temperatura corporal.</small>
    </div>

    <div class="form-group">
      <label for="saturacaoOxigenio">Saturação de Oxigênio (SpO₂)</label>
      <input type="number" id="saturacaoOxigenio" name="saturacaoOxigenio" placeholder="Ex: 98" required ngModel />
      <small *ngIf="form.submitted && !form.controls['saturacaoOxigenio']?.valid">Informe a saturação.</small>
    </div>

    <div class="form-group">
      <label for="peso">Peso (kg)</label>
      <input type="number" id="peso" name="peso" step="0.1" required ngModel />
      <small *ngIf="form.submitted && !form.controls['peso']?.valid">Informe seu peso.</small>
    </div>
    <button type="submit" class="submit-btn">Salvar</button>

    <p class="success-msg" *ngIf="mensagemSucesso">{{ mensagemSucesso }}</p>
  </form>
</main>
